<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>

    <style>
      a.currency {
        text-decoration: none;
      }
      .currency.selected {
        font-weight: bold;
        font-size: 150%;
      }
    </style>