<h1>Welcome to Meadowlark Travel</h1>
{{#if fortune}}
    <blockquote>{{fortune}}</blockquote>
{{/if}}

{{#if teste}}
    <blockquote>{{teste}}</blockquote>
{{/if}}

<a href="/about" data-test-id="about">About Us</a>